
.container_big-card{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 40rem;
    height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card_photo img{
    width: 100%;
    min-width: 40rem;
}

.big-card_title h1{
    font-size: 2rem;
    margin-top: 1.5rem;
}

.big-card_description{
    margin-top: 2rem;
}

.big-card_description p{
    color: gray;
}